{% extends 'base.html' %}

{% block title %}
    Market Page
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark" style="color:white">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-5 font-weight-normal">Welcome</h1><h3>Your Marketplace Community</h3>
            <p class="lead font-weight-normal">Search for an item to buy below</p>
            <div>
                <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_page') }}" method="GET">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>
{% endblock %}