{% extends 'base.html' %}

{% block title %}
    Registration Page
{% endblock%}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create your Account
            </h1>
            <br>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.first_name.label() }}
                    {{ form.first_name(class="form-control", placeholder="First Name") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.last_name.label() }}
                    {{ form.last_name(class="form-control", placeholder="Last Name") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.username.label() }}
                    {{ form.username(class="form-control", placeholder="User Name") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.email_address.label() }}
                    {{ form.email_address(class="form-control", placeholder="Email Address") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.password1.label() }}
                    {{ form.password1(class="form-control", placeholder="Password") }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    {{ form.password2.label() }}
                    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                </div>
            </div>

            <br>

            <div class="checkbox mb-3">
               <h6>Already have an account?</h6>
               <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
            </div>

            {{ form.submit(class="btn btn-lg btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}
